[Desktop Entry]
Name=Client_
Exec=/home/kuzu/Desktop/Chat/dist/client1
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=/home/kuzu/Desktop/Chat/pigeon_PNG54606.png
Type=Application
